## DEPENDENCIES ######################################################
node_modules

## LOGS ##############################################################
*.log

## GENERATED #########################################################
.cache
.nuxt
src/.temp
coverage
dist
sw.*

## SECRETS ###########################################################
.env
.env.*

## CONFIGURED BY ZAZEN ###############################################
.eslintrc.js
prettier.config.js
tsconfig.json
########################################### END CONFIGURED BY ZAZEN ##
